
<div class="top">
  <div class="top_image img-fluid card bg-dark text-white">
  <%= image_tag 'reha2', class: 'bd-placeholder-img bd-placeholder-img-lg card-img' %>
  <h2>転職をもっと気軽に</h2>
  
  <div class="card-img-overlay">
    <h2 >転職をもっと気軽に</h2>

    
  </div>
</div>
    
    <div class="top_about bg-light">
      <h2 class="text-center bg-dark text-white">転職サイトとは</h2>
    </div>
    <div class="container">
      <div class="row justify-content-between">
        <div class="top_left col-lg-5">
          <h2>転職先を探している方</h2>
          <p>気になる企業に自分からアプローチ<br>
            タップで気軽に企業にアピール！！<br>
            マッチしたら企業と直接やり取り！！<br>
            あなたの「興味がある」は企業に届きます。見事マッチすると企業からスカウトが届き、直接のやりとりが可能に。思わぬ企業からスカウトが届くことも!?<br>
          </p>
        </div>
        <div class="top_right col-lg-5">
          <h2>採用担当者様</h2>
          <p>あなたの会社が掲げる｢想い｣への共感を通じて、<br>
            条件だけでは動かない優秀な人材にアプローチ。<br>
            掲載し放題の募集で<br>
            SNSの活用で採用確率UP <br>

          </p>
        </div>
      </div> 
    </div>
</div>