<div class="article">
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_detail">
    <div>
      <p>cohki0305</p>
      <p>2020/4/16</p>
    </div>
  </div>
  <div class="article_content">
    <%= @article.Job_title %>
  </div>
</div>