<div class="container profilePage">
  <div class="profilePage_user">
    <div class="profilePage_user_image">
      <%= image_tag current_company.avatar_image %>
    </div>
    <div class="profilePage_user_basicInfo">
      <div class="profilePage_user_name">
        <div class="profilePage_user_displayName">
          <%= current_company.display_name %>

        </div>
        <div class="profilePage_user_actionButton">
          <%= link_to 'Edit', edit_company_profile_path %>
        </div>
      </div>
      <div class="profilePage_user_introduction"></div>
      <%= current_company.company_profile&.introduction %>
    </div>
  </div>
</div>