$header-color: #ffe5b9;
$base-bg-color: #dadef0;
$user-bg-color:  rgb(142, 153, 199);
$company-bg-color: rgb(142, 202, 207);
$light-bg-color:#c9cbff;
$dark-bg-color: #213e3b;
$image-color: white;

$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;

$cBlack: black;

$font-lg: 22px;
$fontsize: 12px;

$text-base-color: #616161;

$image_size: 150px;