// @import 'bootstrap';
@import 'variables';
@import 'header';
// @import 'form';
@import 'card';
// @import 'buttons';
// @import 'flash';
@import 'article';
// @import 'common';
@import 'profile';

body {
  padding-top: 66px; 
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  
}
main {
  flex: 1;
  padding-top: 20px;
  background-color: $base-bg-color;

  font-size: $fontsize;
}
a {
  text-decoration: none;
  color: black;
  
  &:hover {
    opacity: 0.7;
  }
}

.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0px;
}




//TOP画面

.top {

  &_image {

    .card-img {

    width: 100%;
    height: auto;
    opacity: 0.7; 
    padding: 0;

    }

    h2 {
      position: absolute;
      top: 70%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      color: white;
      font-weight: bold; 
      font-size: 2em;
      padding: 0;
    }
  }

  &_about{
    width: 100%;
    margin: 0;
  }

  

  &_left {
    box-sizing: border-box;
    width: 100%;
    border: 1px  solid black;
    padding: 50px;


    h2 {
    text-align: center;
    }
  }

  &_right {
    box-sizing: border-box;
    width: 100%;
    border: 1px  solid black;
    padding: 50px;


    h2 {
      text-align: center;
      }
  }
}


//ログイン画面
.login {
  
  h1 {
    text-align: center;
    font-size: 40px;
  }

  .text {
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    margin: 0 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #FFF;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
  }
  .r-button {
    margin: 40px 0 0 0;
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    height: 45px;
    text-align: center;
    background: $base-bg-color;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    
  }

  
}

// きじ画面

// ボタン
.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: $header-color;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}
