@import 'bootstrap';
@import 'variables';
@import 'header';
@import 'form';
@import 'card';
@import 'buttons';
@import 'flash';
@import 'article';
@import 'common';
@import 'profile';

a {
  text-decoration: none;
  color: black;
  
  &:hover {
    opacity: 0.7;
  }
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}



//TOP画面

.top {

  .top-content {
    border: 1px  solid black;
    padding: 0 30px;
  }

  .top-left {
    box-sizing: border-box;
    width: 48%;
    border: 1px  solid black;
    float: left;
    padding: 0 30px;

    h2 {
    text-align: center;
    }
  }

  .top-right {
    box-sizing: border-box;
    width: 48%;
    border: 1px  solid black;
    float: right;
    padding: 0 30px;

    h2 {
      text-align: center;
      }
  }
}


//ログイン画面
.login {
  
  h1 {
    text-align: center;
    font-size: 40px;
  }

  .text {
    width: 100%;
    height: 40px;
    padding: 0px 8px;
    margin: 0 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #FFF;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
  }
  .r-button {
    margin: 40px 0 0 0;
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    height: 45px;
    text-align: center;
    background: $base-bg-color;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    
  }

  
}

// きじ画面

// ボタン
.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: $primary-color;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}

// ハンバーガーメニュー
header {
  padding:10px;
  background: skyblue;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 1200px;/*最大幅（調整してください）*/
  height: 72px;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateY(-105%);
  transform: translateY(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .8;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}