// @import 'bootstrap';
@import 'variables';
@import 'top';
@import 'header';
@import 'login';
@import 'form';
@import 'card';
@import 'buttons';
@import 'flash';
@import 'article';
@import 'room';
@import 'follow';
@import 'common';
@import 'profile';

body {
  padding-top: 60px; 
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  
}
main {
  flex: 1;
  background-color: $base-bg-color;

  font-size: $fontsize;
  padding-bottom: 30px;
}

.main {
  flex: 1;
  background-color: $base-bg-color;

  font-size: $fontsize;
  padding: 30px;

}

a {
  text-decoration: none;
  color: black;
  
  &:hover {
    opacity: 0.7;
  }
}

.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0px;
}

.user {
  flex: 1;
  font-size: $fontsize;
  padding: 30px;
  background-color: $user-bg-color;
}

.company {
  flex: 1;
  font-size: $fontsize;
  padding: 30px;
  background-color: $company-bg-color;
}
// きじ画面


.right-message{
  text-align: right;
}

// listボタン

.list {
  &_profile{
    padding-top: 12px;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }
}