@import './variables'; 

.btn-primary {
background-color: $header-color;
border: none;
width: 100%;
text-align: center;
color: white;
padding: 16px 0;
font-weight: bold;
}

.btn-secondary {
    background-color: white;
    border: solid 1px $header-color;
    width: 100%;
    text-align: center;
    color: $header-color;
    padding: 16px 0;
    font-weight: bold;
  }