@import './variables';
$heart-size: 16px;
$avatar-size: 32px;
.card {
  background-color: white;
  margin: 16px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &_main {
    
    &_image {
      height: 300px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }

    &_job {
      margin: 10px;
      font-size: 15px;
      color: #6A6E71;
    }
    
    &_title {
      font-size: 22px;
      margin-bottom: 8px;
      color: #222222;
    }
    
    &_text {
      font-size: 12px;
      color: #9DA0A4;
      
    }
    
  }
  &_bottom {
    padding-top: 20px;

    &_detail {
      
      cursor: pointer;
      display: flex;
      font-size: 12px;
      img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin-right: 8px;
      }
    }

    &_heart {
      display: flex;
      padding-top: 2px;
      
      img {
        width: $heart-size;
        height: $heart-size;
      }
      span {
        margin-left: 8px;
        font-size: 12px;
        font-weight: bold;
        color: $header-color;
        line-height: $heart-size;
      }
    }

  }
  &_content {
    padding: 16px 16px;
  }
  
}