@import 'variables';

$avatar-size: 40px;
$header-padding-y: 5px;
$back-icon-size: 16px;

.header {
  background-color: $header-color;
  padding: $header-padding-y;
  font-weight: bold;
  
  &_navbar {
    display: flex;
    justify-content: space-between;
  }

  &_logos {
    min-width: 0;
    display: flex;

    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
      margin: ($avatar-size - $back-icon-size) / 2 8px 0;
    }
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }
  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }

  .open, .close {
    display: none;
  }

  input {
    position: absolute;
    // right:-50vw;
  }
}
